/*--------------------------
Font and Color setup
--------------------------*/
html {font-size: 1em;}

body {
  margin: 0;
  padding: 0;
  background: #4D8675;
  font-family: 'Oswald', sans-serif;
  color: #101520;
  width: 100%;
}

h1 {font-size: 2.369em;}

h2 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

.main_header {
  text-align: center;
}

/*--------------------------
Navigation
--------------------------*/
.nav {
    background-color: #265C57;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

.nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  height: 20px;
  padding: 2.5%;
}

.nav li {
    float: right;
  }
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/*--------------------------
Layout
--------------------------*/
.content {
    width: 60%;
    margin: 100px auto 100px;
    background-color: #89B2A0;
    padding: 15px;
}

p {
  line-height: 1.5em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #265C57;
}

footer img {
  height: 100%;
  margin-left: 1.25%;
}

#hero_image {
  border-radius: 50%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.icons ul {
  list-style: none;
}

.icons li {
  display: inline-block;
  text-align: left;
}
